@import "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
}

.hero-area {
  color: white;
  background-color: darken(rgb(0, 188, 212), 15%);
  padding-top: 32px;
  padding-bottom: 32px;

  .hero-title {
    text-align: center;
  }

  .hero-input {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
